/*<------------------- Popups Scss -------------------->*/
@use '../../styles/abstracts/variables' as *;

.custom-dialog-backdrop {
  background: $backdrop-color;
  backdrop-filter: blur(4px);
}

.custom-backdrop {
  background: $backdrop-color;
  backdrop-filter: blur(4px);
  .status-toggle-popup,
  .delete-popup,
  .success-popup,
  .error-popup {
    background: $white-color;
    border-radius: 24px;
    padding: 24px 32px 32px 32px;
    width: 498px;

    .swal2-title {
      font-family: $font-primary;
      font-weight: $font-bold;
      font-size: 24px;
      line-height: 110.00000000000001%;
      text-align: center;
      text-transform: uppercase;
      color: $dark-black-color;
      padding: 0;
    }

    .swal2-html-container {
      font-family: $font-secondary;
      font-weight: $font-regular;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0;
      color: $text-gray-color;
      padding: 0;
      padding: 32px 0px;
    }

    .swal2-actions {
      margin: 0;
      flex-wrap: nowrap;
      gap: 16px;

      .swal2-cancel {
        width: 100%;
        border-radius: 40px;
        background: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-family: $font-secondary;
        font-weight: $font-regular;
        color: $primary-color;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0;
        padding: 12px 20px;
        background: transparent;
        outline: none;
        border: 1px solid $primary-color;
        margin: 0;

        &:active {
          background-color: $primary-color;
          color: $white-color;
          outline: none;
        }

        &:focus-visible {
          background-color: $primary-color;
          color: $white-color;
          outline: none;
          box-shadow: none;
        }

        &:hover {
          background-image: unset;
        }
      }

      .swal2-confirm {
        width: 100%;
        border-radius: 40px;
        background: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-family: $font-secondary;
        font-weight: $font-regular;
        color: $white-color;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0;
        padding: 12px 20px;
        outline: none;
        border: 1px solid $primary-color;
        margin: 0;

        &:active {
          background-color: $primary-color;
          color: $white-color;
          outline: none;
        }

        &:focus-visible {
          background-color: $primary-color;
          color: $white-color;
          outline: none;
          box-shadow: none;
        }

        &:hover {
          background-image: unset;
        }
      }
    }
  }
}
