/*<------------------- font-Family Variables -------------------->*/

$font-primary: 'Cormorant Infant';
$font-secondary: 'Poppins';

/*<------------------- Color Variables -------------------->*/
$primary-color: #374f37;
$secondary-color: #8069af;
$beige-menu-color: #dfcfb0;
$beige-dark-color: #dcd5c2;
$beige-color: #e5decb;
$beige-light: #f5efdc;
$black-color: #343238;
$dark-gray-color: #6f746f;
$gray-textdisable-color: #a6a6a8;
$gray-active-color: #bec0be;
$lightgray-color: #edeae4;
$white-color: #ffffff;
$red-color: #cc1b1b;
$light-red-color: #e469621a;
$field-dsiable-color: #f2f0f3;
$break-line-color: #374f3766;
$dark-black-color: #191919;
$dropdown-hover-color: #f9f9f9;
$gray-box-shadow-color: #ccc8c040;
$gray2-box-shadow-color: #c2beb640;
$btn-disable-bg-color: #e9e9e9;
$toggle-box-shadow-color: #00230b33;
$blackish-color: #0c111d;
$forms-bg-color: #fefefb;
$text-gray-color: #423e3c;
$backdrop-color: #17130e66;
$border-color: #e3e3e3;
$datepicker-box-shadow: #b2afac14;
$datepicker-box-shadow2: #6b6b7414;
$text-color: #7a7a7a;
$disable-tab-color: #f3f0ea;

/*<------------------- Font Weight Variables -------------------->*/
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;